
$bg: rgb(16, 16, 16);

.header {
    height: 80px;
    background-color: $bg;
    display: flex;
    align-items: center;
    padding: 2rem;
    box-sizing: border-box;
    // justify-content: space-between;
  
     > img {
      height: 2rem;
      
      
    }
    
    > div {
      width: 100%;
      margin-left: 2vmax;
      > a {
        margin: 1.25vmax;
        font-size: 1.3rem;
        font-weight: 400;
      }
    }
    > svg {
      color: whitesmoke;
      font-size: 2rem;
      cursor: pointer;

      
  
      &:hover {
        color: rgb(216, 216, 216);
      }
    }
  }
  

  @media screen and (max-width: 600px){
    
    .header{
      flex-direction: column;
      align-items: start;
      
      min-height: 100px;
      justify-content: center;
      > img {
        display: flex;
        align-self: center;
        padding-bottom: 0.75rem;
      }
      > div {
        
      > a {
        font-size: 1rem;
        
      
      }
     }
    }
    
     .links {
      // display: none;
      display: flex;
      justify-content: center;
      
    }

    .header > svg{
      font-size: 1.5rem;
      display: none;
      
    }
  }

  @media screen and (max-width: 500px){
    .header > img{
      height:1.6rem;
      
     } 
    > svg{
      font-size: 0.5rem;
      
    }
  }